AddDefaultCharset utf-8
RewriteEngine On


RewriteCond %{REQUEST_URI} !^/html
RewriteCond %{REQUEST_URI} !^/_cron
RewriteCond %{REQUEST_URI} !/library
RewriteCond %{REQUEST_URI} !^/(admin|library|controller|_cache)
RewriteCond %{REQUEST_URI} !\.(eot|svg|ttf|woff|7z|aiff|asf|avi|bmp|csv|doc|fla|flv|gif|gz|gzip|jpeg|jpg|mid|mov|mp3|mp4|mpc|mpeg|mpg|ods|odt|pdf|png|ppt|pxd|qt|ram|rar|rm|rmi|rmvb|rtf|sdc|sitd|swf|sxc|sxw|tar|tgz|tif|tiff|txt|vsd|wav|wma|wmv|xls|xml|zip|js|css|ico)

RewriteRule ^.*$ index.php [L]